button {
	/*color: #0a4886;*/
	/*text-transform: uppercase;*/
/*	font-size: 12px;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(227,227,224,1) 50%, rgba(255,255,255,1) 100%);
	padding-left: 20px;
	border: 2px solid red;
	border-radius: 6px;*/
	
	/*display: inline-block;*/
	/*transition: all 0.3s ease 0s;*/
}


label {	
	font-size: 13px;
}

#row_to {
    /*margin-top: 5px;
    margin-bottom: 1px;*/
	outline: none;
    padding-right: 5px;
    /*margin-right: -50px;*/
    box-shadow: -4px 0px 2px 0 rgba(178, 178, 178, .4);
	
	/*background: #88fc76;*/
	border: 1px solid #88fc76;
	background: rgb(107,231,88);
	background: linear-gradient(0deg, rgba(107,231,88,1) 0%, rgba(136,252,118,1) 50%, rgba(107,231,88,1) 100%);
	/*transform: rotate(45deg);*/

	/*transition: all 0.4s ease-in-out;*/
	border-radius: 15px 15px 0px 15px;
}
#row_to:hover{
	/*margin-right: 50px;*/
	/*transition: all 0.3s ease 0s;*/
	border: 1px solid rgba(136,252,118,1);
	background: rgba(136,252,118,1);
}

#edit{
	/*color: #0a4886;*/
	/*text-transform: uppercase;*/
	/*font-size: 16px;*/
	background: rgb(255,255,255);
	/*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(227,227,224,1) 50%, rgba(255,255,255,1) 100%);*/
	/*padding: 20px;*/
	outline: none;
	border: 1px solid rgba(255,255,255, 0);
	border-radius: 0px;
	/*display: inline-block;*/
	transition: all 0.3s ease 0s;
}

#edit:hover{
	/*border-radius: 50%;*/
	border-radius: 50px;
	color: rgba(255,255,255, .9);
	border-color: #494949;
	transition: all 0.3s ease 0s;
	background: #0a4886;
	/*background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);*/
}

#popup_menu{
	border: none;
	outline: none;
	box-shadow: none;
	/*background: rgba(255,255,255,0);*/
}

#text_box{
	margin-left: 10px;
	outline: none;

	font-size: 16px;
	margin-right: 10px;
}

#time {
	color: rgba(0,0,0,.5);
	margin-bottom: 12px;
	margin-right: 3px;
}

#nickname{
	margin-right: 10px;
	font-size: 12px;
	background: rgba(255,255,255,0);
}

#nickname_box{

	background: rgba(255,255,255,0);
}
/*inputMess {
	color: #0a4886;
	text-transform: uppercase;
	font-size: 12px;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(227,227,224,1) 50%, rgba(255,255,255,1) 100%);
	padding-left: 20px;
	border: 2px solid red;
	border-radius: 6px;
	
	display: inline-block;
	transition: all 0.3s ease 0s;

}*/