button {
	/*color: #0a4886;*/
	/*text-transform: uppercase;*/
	font-size: 12px;
	background: rgb(255,255,255);
	/*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(227,227,224,1) 50%, rgba(255,255,255,1) 100%);*/
	/*padding: 20px;*/
	border: 2px solid red;
	border-radius: 6px;

	/*display: inline-block;*/
	transition: all 0.3s ease 0s;
}
