#send_button {
	color: #0a4886;
	/*text-transform: uppercase;*/
	font-size: 16px;
	background: rgb(255,255,255);
	/*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(227,227,224,1) 50%, rgba(255,255,255,1) 100%);*/
	/*padding: 20px;*/
	border: 2px solid #0a4886;
	border-radius: 6px;
	/*display: inline-block;*/
	transition: all 0.3s ease 0s;
}

#send_button:hover {
	/*color: ;*/
	border-radius: 50px;
	border-color: #494949;
	transition: all 0.3s ease 0s;
	background: rgb(241,241,241);
	background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 50%, rgba(241,241,241,1) 100%);
	color: #494949;
}

#input_message {
/*margin-top: 5px;
    margin-bottom: 1px;*/
    /*padding-right: 5px;*/
    /*margin-right: -50px;*/
    box-shadow: none;
	
	/*background: #88fc76;*/
	border: 1px solid rgba(55,55,55,1);
	background: rgb(255, 241, 63);
/*transform: rotate(45deg);*/

	/*transition: all 0.4s ease-in-out;*/
	border-radius: 15px 15px 15px 0px;
}

#input_message:hover {
	border: 1px solid rgb(241,241,241);
	background: rgb(241,241,241);
	background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 50%, rgba(241,241,241,1) 100%);
}

#output_message {
	outline: none;
    /*padding-right: 5px;*/
    box-shadow: none;
	border: 1px solid #88fc76;
	background: rgb(107,231,88);

	border-radius: 15px 15px 0px 15px;
	background: linear-gradient(0deg, rgba(107,231,88,1) 0%, rgba(136,252,118,1) 50%, rgba(107,231,88,1) 100%);
}

#output_message:hover {
	border: 1px solid rgba(136,252,118,1);
	background: rgba(136,252,118,1);
}

#row {
	padding-right: 20px;
}

#edit_tool {
	background: rgb(255,255,255);
	/*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(227,227,224,1) 50%, rgba(255,255,255,1) 100%);*/
	/*padding: 20px;*/
	outline: none;
	border: 1px solid rgba(255,255,255, 0);
	border-radius: 0px;
	/*display: inline-block;*/
	transition: all 0.3s ease 0s;
}

#edit_tool:hover{
	border-radius: 50px;
	color: rgba(255,255,255, .9);
	border-color: #494949;
	transition: all 0.3s ease 0s;
	background: #0a4886;
}

#popup_menu {
	border: none;
	outline: none;
	box-shadow: none;
	background: rgba(245,240,8, 0);

}

#time {
	color: rgba(0,0,0,.5);
	margin-bottom: 12px;
	margin-right: 10px;
	margin-left: 10px;
}

#nickname {
	margin-right: 10px;
	font-size: 12px;
	background: rgba(255,255,255,0);
}

#message {
	background: rgba(255,255,255,0);

	margin-left: 5px;
	margin-right: 5px;
}

entry {
	padding: 2px 3px;
	border: 2px solid;
	font-size: 13px;
	border-radius: 6px;
	color: #0a4886;
	border-color: #0a4886;
}

viewport {
	background-color: rgba(0,0,0,0);
}

scrolledwindow{

	border: none;
	outline: none;
	box-shadow: none;
	background-color: rgba(0,0,0,0);
}
list {
	border: none;
	outline: none;
	box-shadow: none;
	background-color: rgba(0,0,0,0);
}

trough {
	background-color: rgba(0,0,0,0);
}
trough:hover {
	background-color: rgba(0,0,0,0);
}

slider:hover {

	background-color: rgba(0,0,0,0);
}

#name_label {
	font-size: 24px;
	font-family: Geneva, Arial, sans-serif;
	font-weight: 900;
}

#main_window {
	background: rgb(245,240,8);
	background: radial-gradient(at 0% 0%, #f4ef23, #74ceff, #0a4886);
}